<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<div id="app">
  <searchbox v-bind:results="searchResults"></searchbox>
  {{ page.pageTitle }} ({{ page.id }})
  <br>
  <block
    v-for="(block, index) in page.children"
    v-bind:block="block"
    v-bind:level="0"
    v-bind:position="index"
    v-bind:key="block.id">
  </block>

  <small>Linked References</small>
  <br />
  {{ linkedReferences }}
  <br />
  <small>Unlinked References</small>
  <br />
  {{ unlinkedReferences }}
</div>

<script>
var pageTitle = "";
var pageData = {pageTitle: pageTitle, children: []};
var httpRequest;

function alertContents() {
    if (httpRequest.readyState === XMLHttpRequest.DONE) {
      if (httpRequest.status === 200) {
        app.page = JSON.parse(httpRequest.responseText);
        updateLinkedReferences();
        updateUnlinkedReferences();
      } else {
        alert('There was a problem with the request.');
      }
    }
  }

//todo: optimize this to actually break early once we've found our element
function findBlockByLevelAndPosition(blocks, level, position) {
  var ret;
  blocks.forEach(block => {
    if (!!ret) { return; }
    found = findBlockByLevelAndPosition(block.$children, level, position)
    if (!!found) { ret = found; }
    if (level == block._props["level"] && position == block._props["position"]) { ret = block; }
  })
  return ret;
}

Vue.component('searchbox', {
  props: ['results'],
  methods: {
    keyUp: function(event) {
      var searchRequest;
      var component = this;
      searchRequest = new XMLHttpRequest();
      searchRequest.onreadystatechange = function() {
        if (searchRequest.readyState === XMLHttpRequest.DONE) {
              if (searchRequest.status === 200) {
                app.searchResults = JSON.parse(searchRequest.responseText)
              }
            }
        };
      var apiRoute = "/api/search/all?searchfragment=" + event.target.value;
      searchRequest.open('GET', apiRoute, true);
      searchRequest.send();
    },
    optionClick: function(event) {
      var showOrCreatePageRequest;
      var component = this;
      showOrCreatePageRequest = new XMLHttpRequest();
      showOrCreatePageRequest.onreadystatechange = function() {
        if (showOrCreatePageRequest.readyState === XMLHttpRequest.DONE) {
              if (showOrCreatePageRequest.status === 200) {
                window.location.pathname = "/app/show/" + showOrCreatePageRequest.responseText;
              }
            }
        };
      var apiRoute = "/api/show_or_create?page-name=" + event.target.value;
      showOrCreatePageRequest.open('GET', apiRoute, true);
      showOrCreatePageRequest.send();
    }
  },
  template: '<div><input v-on:change="optionClick" placeholder="edit me" v-on:keyup="keyUp" list="searchResults"><datalist id="searchResults"><option v-for="result in results" v-bind:pageid="result.page_id" v-bind:value="[[result.title]]"><div>{{result.text}}</div></option></datalist></div>'
})

Vue.component('block', {
  props: ['block', 'level', 'position'],
  data: function () {
    return {
      styleObject: {
        marginLeft: (this.level * 10) + "px"
      }
    }
  },
  methods: {
    gainFocus: function(event) {
      this.startingText = event.target.textContent;
      var blockId = this.block.id;
      var level = this.level;
      var position = this.position;
      event.target.onkeydown = function(e) {
        if ( e.keyCode == 13 ){    //enter    
          e.preventDefault();
          if (level == 0) {
            createBlockInPage(app.page.id);
          } else { createBlockInBlock(blockId, ""); }
        } else if ( e.shiftKey && e.keyCode == 9 ){    //shift-tab    
          e.preventDefault();
          unindentBlock(blockId);
        } else if ( e.keyCode == 9 ){    //tab
          e.preventDefault();
          indentBlock(blockId);
        } else if (e.keyCode == 8) { //backspace
          if (e.target.textContent == "") {
            deleteBlock(blockId);
          }
        }
      }
    },
    loseFocus: function(event) {
      event.target.onkeydown = function(e) {};
      //only send the update request if the text has changed
      if (this.startingText == event.target.textContent) { return; }
      var updateBlockRequest;
      updateBlockRequest = new XMLHttpRequest();
      updateBlockRequest.onreadystatechange = function() {
        if (updateBlockRequest.readyState === XMLHttpRequest.DONE) {
              if (updateBlockRequest.status === 200) {
                loadPage();
              }
            }
        };
      var apiRoute = "/api/update/" + this.block.id + "?newtext=" + event.target.textContent;
      updateBlockRequest.open('GET', apiRoute, true);
      updateBlockRequest.send();
    }
  },
  template: '<span v-bind:style="this.styleObject">* <span contenteditable="true" v-on:focusin="gainFocus" v-on:focusout="loseFocus" v-html="block.text"></span><br /><block v-for="(child, index) in block.children" v-bind:block="child" v-bind:level="level + 1" v-bind:position="index" v-bind:key="child.id"> </block></span>'})
//add a position to the above template and component itself
var app = new Vue({
  el: '#app',
  data: {page: pageData, currentRoute: window.location.pathname, linkedReferences: [], unlinkedReferences: [], searchResults: []}
})

function loadPage() {
  httpRequest = new XMLHttpRequest();
  httpRequest.onreadystatechange = alertContents;
  var apiRoute = "/api/daily-notes";
  if (app.currentRoute != "/") { apiRoute = app.currentRoute.replace("app", "api") }
  httpRequest.open('GET', apiRoute);
  httpRequest.send();
}

function updateLinkedReferences() {
  var updateLinkedReferencesRequest;
  updateLinkedReferencesRequest = new XMLHttpRequest();
  updateLinkedReferencesRequest.onreadystatechange = function() {
    if (updateLinkedReferencesRequest.readyState === XMLHttpRequest.DONE) {
          if (updateLinkedReferencesRequest.status === 200) {
            app.linkedReferences = JSON.parse(updateLinkedReferencesRequest.responseText)
          }
        }
    };
  var apiRoute = "/api/references/linked/" + app.page.id;
  updateLinkedReferencesRequest.open('GET', apiRoute, true);
  updateLinkedReferencesRequest.send();
}

function updateUnlinkedReferences() {
  var updateUnlinkedReferencesRequest;
  updateUnlinkedReferencesRequest = new XMLHttpRequest();
  updateUnlinkedReferencesRequest.onreadystatechange = function() {
    if (updateUnlinkedReferencesRequest.readyState === XMLHttpRequest.DONE) {
          if (updateUnlinkedReferencesRequest.status === 200) {
            app.unlinkedReferences = JSON.parse(updateUnlinkedReferencesRequest.responseText)
          }
        }
    };
  var apiRoute = "/api/references/unlinked/" + app.page.id;
  updateUnlinkedReferencesRequest.open('GET', apiRoute, true);
  updateUnlinkedReferencesRequest.send();
}

function deleteBlock(blockId) {
  var deleteBlockRequest;
  deleteBlockRequest = new XMLHttpRequest();
  deleteBlockRequest.onreadystatechange = function() {
    if (deleteBlockRequest.readyState === XMLHttpRequest.DONE) {
          if (deleteBlockRequest.status === 200) {
            loadPage();
          }
        }
    };
  var apiRoute = "/api/delete/block/" + blockId;
  deleteBlockRequest.open('GET', apiRoute, true);
  deleteBlockRequest.send();
}

function indentBlock(blockId) {
  var indentBlockRequest;
  indentBlockRequest = new XMLHttpRequest();
  indentBlockRequest.onreadystatechange = function() {
    if (indentBlockRequest.readyState === XMLHttpRequest.DONE) {
          if (indentBlockRequest.status === 200) {
            loadPage();
          }
        }
    };
  var apiRoute = "/api/indent/block/" + blockId;
  indentBlockRequest.open('GET', apiRoute, true);
  indentBlockRequest.send();
}

function unindentBlock(blockId) {
  var unindentBlockRequest;
  unindentBlockRequest = new XMLHttpRequest();
  unindentBlockRequest.onreadystatechange = function() {
    if (unindentBlockRequest.readyState === XMLHttpRequest.DONE) {
          if (unindentBlockRequest.status === 200) {
            loadPage();
          }
        }
    };
  var apiRoute = "/api/unindent/block/" + blockId;
  unindentBlockRequest.open('GET', apiRoute, true);
  unindentBlockRequest.send();
}

function createBlockInBlock(blockId, text) {
  var newBlockRequest;
  newBlockRequest = new XMLHttpRequest();
  newBlockRequest.onreadystatechange = function() {
    if (newBlockRequest.readyState === XMLHttpRequest.DONE) {
          if (newBlockRequest.status === 200) {
            loadPage();
          }
        }
    };
  var apiRoute = "/api/new/block/" + blockId + "/" + text;
  newBlockRequest.open('GET', apiRoute, true);
  newBlockRequest.send();
}

function createBlockInPage(pageId) {
  var newBlockRequest;
  newBlockRequest = new XMLHttpRequest();
  newBlockRequest.onreadystatechange = function() {
    if (newBlockRequest.readyState === XMLHttpRequest.DONE) {
          if (newBlockRequest.status === 200) {
            loadPage();
          }
        }
    };
  var apiRoute = "/api/new/block/page/" + pageId;
  newBlockRequest.open('GET', apiRoute, true);
  newBlockRequest.send();
}

loadPage();
</script>
